body {
    background-color: #f0ffff;
}

.tab-content {
    margin: 1% 5%;
}

#global-bubble-map, #table {
    min-width: 700px;
    width: 100%;
    overflow-x: auto;
}

.totals-container {
    text-align: center;
}

.totals-container h1 {
    margin-bottom: 35px;
}

.line-plots, .pie-charts {
    width: 100%;
}

button {
    padding: 7px 15px;
}

@media only screen and (min-width: 768px){
    .pie-charts {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }    
}

@media screen and (min-width: 1024px) {
    .global-container {
        display: grid;
        grid-template-columns: 2fr 5fr;
    }

    .line-plots {
        max-width: 70%;
    }

    .pie-charts {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
