body {
    background-color: #f0ffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5%;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

.a-column-chart {
    margin: 40px 0px;
}

.metrics-container {
    margin: auto;
    width: 240px;
}

#global-choropleth-map {
    width: 100%;
    height: 35vh;
}

#table {
    overflow-x: auto;
    width: 100%;
}

.line-plots,
.column-charts {
    text-align: left;
    width: 100%;
}

.page-link a {
    display: inline-block;
    font-size: 0.9em;
    background-color: slategrey;
    border-radius: 4px;
    color: #fff;
    margin: 4%;
    justify-content: center;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    width: 160px;
}

.page-link a:hover {
    opacity: 0.7;
}

button {
    padding: 7px 15px;
}

@media only screen and (min-width: 768px) {
    .a-column-chart {
        margin: 5px 0px;
    }

    .metrics-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }

    .column-charts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        margin: auto;
        width: 95%;
    }

    .global-map-container {
        text-align: left;
    }

    label {
        display: block;
        margin: 10px;
    }
}

@media screen and (min-width: 1024px) {
    body {
        margin: 2% 5%;
    }

    .global-dashboard {
        display: grid;
        grid-template-columns: 2fr 5fr;
        gap: 40px;
    }

    .metrics-container {
        display: inline-block;
        margin: auto;
    }

    .line-plots {
        margin: auto;
        width: 70%;
    }

    .column-charts {
        width: 90%;
        gap: 40px;
    }

    #global-choropleth-map {
        height: 65vh;
    }
}